 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                  <p>
                  We are a Midweſtern group of living hiſtorians who ſeek to accurately and reſpectfully interpret the lives of
                  the ſoldiery in the 4th Connecticut Regiment during the American War of Independence for the education of the
                  public by means of ſtrict attention to the material, ſocial, and military cultures of the 18th century.
                  </p>
                </div>
                <div class="col-lg-4">
                  <p>
                  Brave men willing to free our country from its tyrannical oppreſsion are encouraged to enliſt at once, and
                  ſhall receive a fair wage in Continental dollars, a ſet of clothes, and ſuch arms and accoutrements as are
                  appropriate. Intrepid women of ſimilar diſpoſition may find it profitable to follow the troops offering
                  ſuch ſervices as will help the cauſe (viz. the ſelling of produce and other items, the laundering of clothes,
                  &amp;c).
                  </p>
                </div>
            </div>
        </div>
    </section>
